wsdl/device_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tds="http://www.onvif.org/ver10/device/wsdl"
  targetNamespace="http://www.onvif.org/ver10/device/wsdl">

  <wsdl:types>
    <xs:schema
      targetNamespace="http://www.onvif.org/ver10/device/wsdl"
      elementFormDefault="qualified">
      <xs:element name="GetSystemDateAndTime" type="xs:anyType"/>
      <xs:element name="GetSystemDateAndTimeResponse" type="xs:anyType"/>
      <xs:element name="GetCapabilities" type="xs:anyType"/>
      <xs:element name="GetCapabilitiesResponse" type="xs:anyType"/>
      <xs:element name="GetServices" type="xs:anyType"/>
      <xs:element name="GetServicesResponse" type="xs:anyType"/>
      <xs:element name="GetDeviceInformation" type="xs:anyType"/>
      <xs:element name="GetDeviceInformationResponse" type="xs:anyType"/>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="GetSystemDateAndTimeRequest">
    <wsdl:part name="parameters" element="tds:GetSystemDateAndTime"/>
  </wsdl:message>
  <wsdl:message name="GetSystemDateAndTimeResponse">
    <wsdl:part name="parameters" element="tds:GetSystemDateAndTimeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetCapabilitiesRequest">
    <wsdl:part name="parameters" element="tds:GetCapabilities"/>
  </wsdl:message>
  <wsdl:message name="GetCapabilitiesResponse">
    <wsdl:part name="parameters" element="tds:GetCapabilitiesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetServicesRequest">
    <wsdl:part name="parameters" element="tds:GetServices"/>
  </wsdl:message>
  <wsdl:message name="GetServicesResponse">
    <wsdl:part name="parameters" element="tds:GetServicesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceInformationRequest">
    <wsdl:part name="parameters" element="tds:GetDeviceInformation"/>
  </wsdl:message>
  <wsdl:message name="GetDeviceInformationResponse">
    <wsdl:part name="parameters" element="tds:GetDeviceInformationResponse"/>
  </wsdl:message>

  <wsdl:portType name="Device">
    <wsdl:operation name="GetSystemDateAndTime">
      <wsdl:input message="tds:GetSystemDateAndTimeRequest"/>
      <wsdl:output message="tds:GetSystemDateAndTimeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetCapabilities">
      <wsdl:input message="tds:GetCapabilitiesRequest"/>
      <wsdl:output message="tds:GetCapabilitiesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <wsdl:input message="tds:GetServicesRequest"/>
      <wsdl:output message="tds:GetServicesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceInformation">
      <wsdl:input message="tds:GetDeviceInformationRequest"/>
      <wsdl:output message="tds:GetDeviceInformationResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="DeviceBinding" type="tds:Device">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetSystemDateAndTime">
      <soap12:operation soapAction="http://www.onvif.org/ver10/device/wsdl/GetSystemDateAndTime"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCapabilities">
      <soap12:operation soapAction="http://www.onvif.org/ver10/device/wsdl/GetCapabilities"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap12:operation soapAction="http://www.onvif.org/ver10/device/wsdl/GetServices"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceInformation">
      <soap12:operation soapAction="http://www.onvif.org/ver10/device/wsdl/GetDeviceInformation"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="DeviceService">
    <wsdl:port name="Device" binding="tds:DeviceBinding">
      <soap12:address location="http://localhost:8000/onvif/device_service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
