wsdl/media_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:trt="http://www.onvif.org/ver10/media/wsdl"
  targetNamespace="http://www.onvif.org/ver10/media/wsdl">

  <wsdl:types>
    <xs:schema
      targetNamespace="http://www.onvif.org/ver10/media/wsdl"
      elementFormDefault="qualified">
      <xs:element name="GetProfiles" type="xs:anyType"/>
      <xs:element name="GetProfilesResponse" type="xs:anyType"/>
      <xs:element name="GetVideoSources" type="xs:anyType"/>
      <xs:element name="GetVideoSourcesResponse" type="xs:anyType"/>
      <xs:element name="GetSnapshotUri" type="xs:anyType"/>
      <xs:element name="GetSnapshotUriResponse" type="xs:anyType"/>
      <xs:element name="GetStreamUri" type="xs:anyType"/>
      <xs:element name="GetStreamUriResponse" type="xs:anyType"/>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="GetProfilesRequest">
    <wsdl:part name="parameters" element="trt:GetProfiles"/>
  </wsdl:message>
  <wsdl:message name="GetProfilesResponse">
    <wsdl:part name="parameters" element="trt:GetProfilesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetVideoSourcesRequest">
    <wsdl:part name="parameters" element="trt:GetVideoSources"/>
  </wsdl:message>
  <wsdl:message name="GetVideoSourcesResponse">
    <wsdl:part name="parameters" element="trt:GetVideoSourcesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetSnapshotUriRequest">
    <wsdl:part name="parameters" element="trt:GetSnapshotUri"/>
  </wsdl:message>
  <wsdl:message name="GetSnapshotUriResponse">
    <wsdl:part name="parameters" element="trt:GetSnapshotUriResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStreamUriRequest">
    <wsdl:part name="parameters" element="trt:GetStreamUri"/>
  </wsdl:message>
  <wsdl:message name="GetStreamUriResponse">
    <wsdl:part name="parameters" element="trt:GetStreamUriResponse"/>
  </wsdl:message>

  <wsdl:portType name="Media">
    <wsdl:operation name="GetProfiles">
      <wsdl:input message="trt:GetProfilesRequest"/>
      <wsdl:output message="trt:GetProfilesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetVideoSources">
      <wsdl:input message="trt:GetVideoSourcesRequest"/>
      <wsdl:output message="trt:GetVideoSourcesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetSnapshotUri">
      <wsdl:input message="trt:GetSnapshotUriRequest"/>
      <wsdl:output message="trt:GetSnapshotUriResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetStreamUri">
      <wsdl:input message="trt:GetStreamUriRequest"/>
      <wsdl:output message="trt:GetStreamUriResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="MediaBinding" type="trt:Media">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetProfiles">
      <soap12:operation soapAction="http://www.onvif.org/ver10/media/wsdl/GetProfiles"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideoSources">
      <soap12:operation soapAction="http://www.onvif.org/ver10/media/wsdl/GetVideoSources"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSnapshotUri">
      <soap12:operation soapAction="http://www.onvif.org/ver10/media/wsdl/GetSnapshotUri"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreamUri">
      <soap12:operation soapAction="http://www.onvif.org/ver10/media/wsdl/GetStreamUri"/>
      <wsdl:input><soap12:body use="literal"/></wsdl:input>
      <wsdl:output><soap12:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="MediaService">
    <wsdl:port name="Media" binding="trt:MediaBinding">
      <soap12:address location="http://localhost:8000/onvif/media_service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
